body{
	background-color:#000000;
	color:#E6E6E6;
}

a{
	color:#66B8E0;
}

a:hover{
	text-decoration:none;
}

.container-narrow > .content > .home > div{
	margin-top:20px;
}

.container-narrow > .content > .home > div:last-of-type{
	margin-bottom:30px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
  
/* Home Page */
  
.home{
	text-align:center;
	margin-bottom:30px;
}

#RE, #SIS, #TOR{
	font-size:8em;
	line-height:1em;
	opacity:0;
	font-family: 'Audiowide', cursive;
	clip-path: url(#mask);
	-webkit-clip-path: url(#mask);
	display:inline-block;
	-ms-transform:translateZ(1px);
	transform:translateZ(1px);
	-webkit-transform:translateZ(1px);
	color: #EDFCFF;
	text-shadow: 0 0 18px #10DAFF;
}

svg {
  width: 100%;
  height: 0px;
}

/* Minimoog Tweet Widget */

img.oscillator{
	position:absolute;
	left:26%;
	animation:glow .6s ease-in-out 0s infinite alternate forwards;
	-webkit-animation:glow .6s ease-in-out 0s infinite alternate forwards;
}

img.oscillator.prevTweet{
	top:22%;
	cursor:pointer;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

img.oscillator.nextTweet{
	top:32%;
	cursor:pointer;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

img.oscillator:hover{
	opacity:1;
}

#tweet{
	position:relative;
	text-align:left;
	font-family:monospace;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

#text{
	position:absolute;
	list-style:none;
	width:42%;
	left:38%;
	top:9%;
	overflow:hidden;
	max-height:35%;
}

p.timePosted{
	color:#B8B8B8;
}

#tweet a{
	padding:0 5px;
}


#buttons{
	position:absolute;
	top:6%;
	right:3.5%;
}

#buttons a{
	display:block;
	text-align:center;
	padding: 3px 0;
}

.twitter-follow-button{
	position:absolute;
	left:50%;
	top:52%;
	-webkit-box-shadow:-1px 1px 1px 1px #684235;
	box-shadow:-1px 1px 1px 1px #684235;
	opacity:.8;
}

.twitter-follow-button:hover{
	opacity:1;
}

a.twitter_reply_icon:after{
	content:url('/images/blue_switch.png');
	position:relative;
	top:18px;
	right:40px;
}

a.twitter_fav_icon:after{
	content:url('/images/blue_switch.png');
	position:relative;
	top:18px;
	right:45px;
}

a.twitter_retweet_icon:after{
	content:url('/images/red_switch.png');
	position:relative;
	top:18px;
	right:45px;
}

a.twitter_reply_icon:hover:after{
	content:url('/images/blue_switch_flip.png');
	position:relative;
	top:18px;
	right:40px;
}

a.twitter_fav_icon:hover:after{
	content:url('/images/blue_switch_flip.png');
	position:relative;
	top:18px;
	right:45px;
}

a.twitter_retweet_icon:hover:after{
	content:url('/images/red_switch_flip.png');
	position:relative;
	top:18px;
	right:45px;
}

#minimoog_small{
	display:none;
}

.twitter.controls{
	display:none;
}

/* Soundcloud Widget */

#soundcloud{
	position:relative;
	/*opacity:.85;
	transition: opacity .6s;
	-webkit-transition: opacity .6s;*/
	margin:auto;
}

#tr909_small{
	display:none;
}

.playing{
	opacity:1 !important;
}

#progress_container{
	width:76%;
	height:10%;
	left:14%;
	bottom:22.5%;
	position:absolute;
}

#progress{
	position:absolute;
	background-color:white;
	opacity:.4;
	width:0%;
	height:100%;
	left:0;
	bottom:0;
	transition: width .1s;
	-webkit-transition: width .1s
}

#title{
	position:absolute;
	top:27%;
	left:9%;
	font-weight:bold;
	font-family: 'Audiowide', bold;
	display:none;
	overflow:hidden;
	font-size:1.1em;
}

#title a{
	color:#555E5E;
	opacity:.8;
}

#title a:hover{
	opacity:1;
}

img.knob{
	position:absolute;
	animation:glow .6s ease-in-out 0s infinite alternate forwards;
	-webkit-animation:glow .6s ease-in-out 0s infinite alternate forwards;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

img.knob.prevSong{
	left:30.5%;
	bottom:35%;
}

img.knob.nextSong{
	left:85%;
	bottom:35.5%;
}

.controls{
	margin-top:5px;
	font-size:1.2em;
}

#soundcloud span.large{
	position:absolute;
	font-family:audiowide;
	display:inline;
	bottom: 43%;
}

#soundcloud span.large a{
	color:#555E5E;
}

#soundcloud span.large.play{
	left:9%;
}

#soundcloud span.pause{
	left:8%;
	display:none;
}

#soundcloud img.pause{
	display:none;
}

#soundcloud span.large.prevSong{
	left:28%;
}

#soundcloud span.large.nextSong{
	left:84%;
}

img.play, img.pause{
	position:absolute;
	left:9%;
	bottom:35%;
	animation:glow .6s ease-in-out 0s infinite alternate forwards;
	-webkit-animation:glow .6s ease-in-out 0s infinite alternate forwards;
}

@media screen and (min-width:700px){
	.small{
		display:none !important;
	}
}

/* Instagram Widget */

#instagram{
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

img.prevPhoto, img.nextPhoto{
	position:absolute;
	bottom:15%;
	animation:glow .4s ease-in-out 0s infinite alternate forwards;
	-webkit-animation:glow .4s ease-in-out 0s infinite alternate forwards;
}

img.prevPhoto{
	left:17.5%;
}

img.nextPhoto{
	left:52.5%;
}

img.prevPhoto:hover, img.nextPhoto:hover{
	cursor:pointer;
}

#photoContainer{
	position:absolute;
	width:40%;
	height:51%;
	background-color:#2c2c2c;
	bottom:42%;
	left:16%;
	border-radius:10px;
}

#photoContainer a img{
	border-radius:15px;
	height:100%;
	position:absolute;
	left:4%;
	top:0;
	z-index:1;
	border:2px solid #2c2c2c;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

#photoContainer a img.active{
	z-index:3;
}

#photoContainer a img.active:hover{
	border:2px solid #6B6B6B;
}

#instagram .controls{
	display:none;
}

#mac_small{
	display:none;
}


/* Live dates */

@font-face{
	font-family: dotmatrix;
	src: url('fonts/DOTMATRI.TTF');
}

@font-face{
	font-family: dotmatrix;
	font-weight:bold;
	src: url('fonts/DOTMBold.TTF');
}

#live{
	position:relative;
}

#upcomingDates{
	position:absolute;
	top:1%;
	left:21%;
	width:57%;
	height:44%;
	color:#000000 !important;
	font-family:dotmatrix;
	overflow:hidden;
}

#upcomingDates h3{
	font-weight:bold;
	margin-bottom:0;
}

#upcomingDates ul{
	list-style:none;
	margin-left:0;
}

#upcomingDates ul a{
	color:#000000;
	font-weight:bold;
}

#printer_small{
	display:none;
}


/* Small Screens */

@media screen and (max-width:700px){
	body{
		padding:0;
	}
	
	#RE, #SIS, #TOR{
		font-size:3.8em;
	}
	
	/*Twitter */
	
	#minimoog{
		display:none;
	}
	#minimoog_small{
		display:block;
		width:320px;
		margin:auto;
	}
	#tweet{
		width:320px;
	}
	#text{
		font-size:.8em;
		line-height:.9em;
		left:5%;
		width:68%;
	}
	#text p{
		margin-bottom:.5em;
	}
	#buttons{
		text-align:left;
		font-size:.7em;
		right:-4.5%;
		top:-2%;
		-webkit-transform:scale(.7,.7);
	}
	#buttons a{
		padding:0;
	}
	#buttons a:after{
		-webkit-transform: scale(.75,.75);
	}
	.twitter-follow-button{
		left:25%;
		top:49%;
	}
	
	#title{
		font-weight:normal;
		font-size:.9em;
		top:20%;
		left:9%;
	}
	img.oscillator{
		display:none;
	}
	.twitter.controls{
		display:block;
	}
	
	/* Soundcloud */
	
	#tr909{
		display:none;
	}
	#tr909_small{
		display:block;
		width:320px;
		margin:0 auto 5px auto;
	}
	#soundcloud{
		width:320px;
	}
	
	#soundcloud .large{
		display:none !important;
	}
	#soundcloud span.small{
		display:inline;
	}
	
	#soundcloud span.small.pause{
		display:none;
	}
	
	#progress_container{
		bottom:29.5%;
	}
	
	#soundcloud img.knob{
		display:none;
	}
	
	/* Instagram */
	
	#instagram{
		width:320px;
	}
	
	#photoContainer{
		width:51%;
		height:40%;
		bottom:53%;
		left:28%;
	}
	
	#photoContainer a img{
		left:5%;
	}
	
	#mac{
		display:none;
	}
	
	#mac_small{
		display:block;
		width:320px;
		margin:auto;
		position:relative;
	}
	
	#instagram .controls{
		display:inline;
	}
	
	img.prevPhoto, img.nextPhoto{
		display:none;
	}
	
	/* Live Dates */
	
	#printer{
		display:none;
	}
	
	#printer_small{
		display:block;
		margin-left:auto;
		margin-right:auto;
		width:320px;
		margin-bottom:20px;
	}
	
	#upcomingDates{
		width:100%;
		height:100%;
		top:0;
		left:0;
	}
}

/* Animation */

@keyframes glow{
	0%{opacity:.65}
	100%{opacity:1;}
}
@-webkit-keyframes glow{
	0%{opacity:.65}
	100%{opacity:1;}
}